/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Fonts
 *
 **/

* {
    /*font: "Iosevka Nerd Font 10";*/
    /*font: "JetBrains Mono Nerd Font 10";*/
    /*font: "CaskaydiaCove Nerd Font";*/
    font: "Monospace 10";
}
