[Unit]
Description=Atuin Daemon

[Service]
# TODO: fix changing permission on different users
#ExecStart=/usr/bin/sh -c 'rm /atuin/atuin.sock; umask 0000; /usr/bin/atuin daemon & while ! [ -a "/atuin/atuin.sock" ]; do sleep 1; done'
#
#ExecStart=/usr/bin/sh -c 'rm /atuin/atuin.sock; /usr/bin/atuin daemon & while ! [ -a "/atuin/atuin.sock" ]; do sleep 1; done; /usr/bin/chown daru:daru /atuin/atuin.sock'
#
ExecStart=/usr/bin/sh -c 'rm /atuin/atuin.sock; /usr/bin/atuin daemon start'
ExecStop=/usr/bin/killall atuin
Restart=on-failure
RestartSec=60

[Install]
WantedBy=default.target
