[Unit]
Description=Docker containers updater
After=docker.service

[Service]
Type=oneshot
ExecStart=/docker/docker-start.sh update-all-running

[Install]
WantedBy=timers.target
