[Unit]
Description=Docker Compose Searxng Service
After=docker.service

[Service]
# Where the docker-compose file is located
#WorkingDirectory=/srv/atuin-server
WorkingDirectory=%h/.docker/searxng
ExecStart=%h/.docker/docker-start.sh searxng
ExecStop=/usr/bin/docker stop -t 2 searxng
TimeoutStartSec=0
Restart=on-failure
StartLimitBurst=3

[Install]
WantedBy=default.target
