[Unit]
Description=Searxng container updater
After=docker.service

[Service]
Type=oneshot
ExecStart=%h/.docker/searxng/start.sh update

[Install]
WantedBy=timers.target
